body {
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    width: 800px;
    height: 800px;
}

.title{
    font-size: 18px;
    float: right;
    margin-right: 61%;
}

.icon{
    height: 50px;
    width:  50px;
    margin: 7px 0px 0px 7px;
}

.error-msg{
    color: red;
}
